<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeckupListo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BeckupListo.Properties.Settings>
            <setting name="SegundaMeioDia" serializeAs="String">
                <value />
            </setting>
            <setting name="SegundaNoite" serializeAs="String">
                <value />
            </setting>
            <setting name="TercaMeioDia" serializeAs="String">
                <value />
            </setting>
            <setting name="TercaNoite" serializeAs="String">
                <value />
            </setting>
            <setting name="QuartaMeioDia" serializeAs="String">
                <value />
            </setting>
            <setting name="QuartaNoite" serializeAs="String">
                <value />
            </setting>
            <setting name="QuintaMeioDia" serializeAs="String">
                <value />
            </setting>
            <setting name="QuintaNoite" serializeAs="String">
                <value />
            </setting>
            <setting name="SextaMeioDia" serializeAs="String">
                <value />
            </setting>
            <setting name="SextaNoite" serializeAs="String">
                <value />
            </setting>
            <setting name="PastaOrigemBackup" serializeAs="String">
                <value />
            </setting>
            <setting name="PastaDestinoBackup" serializeAs="String">
                <value />
            </setting>
            <setting name="PastaOrigemZip" serializeAs="String">
                <value />
            </setting>
            <setting name="PastaDestinoZip" serializeAs="String">
                <value />
            </setting>
            <setting name="HoraMeioDia" serializeAs="String">
                <value />
            </setting>
            <setting name="HoraNoite" serializeAs="String">
                <value />
            </setting>
            <setting name="UsuarioEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="SenhaEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="NomeArquivo" serializeAs="String">
                <value />
            </setting>
            <setting name="Automatico" serializeAs="String">
                <value />
            </setting>
        </BeckupListo.Properties.Settings>
    </userSettings>
</configuration>